{% macro default(url, message, id, icon, class) %}
    <a class="btn btn-light {% if class is not empty %} {{ class }} {% endif %}" {% if id is not null %} id="{{ id }}"{% endif %} href="{{ url }}">
        {% if icon is not empty %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {% if message is not empty %}
            {{ message|trans }}
        {% endif %}
    </a>
{% endmacro %}

{% macro defaultAsIcon(url, message, id, icon, class) %}
    <a{% if messager is defined %} title="{{ message }}"{% endif %}
            class="btn btn-light {% if class is not empty %} {{ class }} {% endif %}" {% if id is not null %} id="{{ id }}"{% endif %}
            href="{{ url }}" title="{{ message|trans }}">
        {% if icon is not empty %}
            <i class="{{ icon }}"></i>
        {% endif %}
    </a>
{% endmacro %}

{% macro show(url, message, id, class, labeled = true) %}
    {% import _self as buttons %}

    {% if message is empty and labeled %}
        {% set message = 'clubster.ui.show' %}
    {% endif %}

    {{ buttons.defaultAsIcon(url, message, id, 'fa fa-search') }}
{% endmacro %}

{% macro create(url, message, id, labeled = true) %}
    {% import _self as buttons %}

    {% if message is empty and labeled %}
        {% set message = 'clubster.ui.create' %}
    {% endif %}

    {{ buttons.defaultAsIcon(url, message, id, 'fa fa-plus', 'btn-primary') }}
{% endmacro %}

{% macro edit(url, message, id, labeled = true) %}
    {% import _self as buttons %}

    {% if message is empty and labeled %}
        {% set message = 'clubster.ui.edit' %}
    {% endif %}

    {{ buttons.defaultAsIcon(url, message, id, 'fa fa-edit') }}
{% endmacro %}

{% macro filter(message) %}
    <button class="btn btn-primary" type="submit">
        <i class="icon search"></i> {{ message is empty ? 'clubster.ui.filter'|trans : message }}
    </button>
{% endmacro %}

{% macro resetFilters(url, message) %}
    <a class="btn btn-secondary" href="{{ url }}">
        <i class="fa fa-trash"></i> {{ message is empty ? 'clubster.ui.clear_filters'|trans : message }}
    </a>
{% endmacro %}

{% macro delete(url, message, labeled = false, resourceId = null) %}
    <form action="{{ url }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-light" type="submit" data-requires-confirmation>
            <i class="fa fa-trash"></i> {{ (message is empty and labeled == true) ? 'clubster.ui.delete'|trans : (labeled == true ? message : '') }}
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(resourceId) }}" />
    </form>
{% endmacro %}

{% macro bulkDelete(url, message, labeled = true) %}
    <form action="{{ url }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-light{% if labeled %}labeled {% endif %}" type="submit" data-bulk-action-requires-confirmation title="{{ (message ? message: 'clubster.ui.delete'|trans) }}">
            <i class="fa fa-trash"></i> {{ (message is empty and labeled) ? 'clubster.ui.delete'|trans : message }}
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('bulk_delete') }}" />
    </form>
{% endmacro %}

{% macro reset(url, message, id) %}
    {% import _self as buttons %}

    {{ buttons.defaultAsIcon(url, message, id, 'fa fa-key', 'btn-clean') }}
{% endmacro %}

{% macro impersonate(url, message, id) %}
    {% import _self as buttons %}

    {{ buttons.defaultAsIcon(url, message, id, 'fa fa-sign-in-alt', 'btn-clean') }}
{% endmacro %}