{% extends '@ClubsterAdmin/Layout/sidebar.html.twig' %}

{% block title %} | Clubster{% endblock %}

{% block stylesheets %}
    {% include '@ClubsterAdmin/_stylesheets.html.twig' with {'path': 'build/admin.css'} %}

    {{ sonata_block_render_event('clubster.adminlayout.stylesheets') }}
{% endblock %}

{% block flash_messages %}
    {% include '@ClubsterAdmin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{ sonata_block_render_event('clubster.adminlayout.topbar_left') }}

        {#{% include '@ClubsterAdmin/_search.html.twig' %}#}

        <div class="ui left floated dividing empty item"></div>

        {{ sonata_block_render_event('clubster.adminlayout.topbar_middle') }}

        <div class="ui right floated dividing empty item"></div>

        {% include '@ClubsterAdmin/_security.html.twig' %}

        {{ sonata_block_render_event('clubster.adminlayout.topbar_right') }}
    </nav>
{% endblock %}

{% block sidebar %}
    {{ sonata_block_render_event('clubster.adminlayout.sidebar_top') }}

    <a class="item" href="{{ path('clubster_admin_dashboard') }}"><b>Clubster</b></a>
    {{ knp_menu_render('clubster.admin.main', {'template': '@ClubsterAdmin/Menu/sidebar.html.twig', 'currentClass': 'active'}) }}

    {{ sonata_block_render_event('clubster.adminlayout.sidebar_down') }}
{% endblock %}

{% block footer %}
    {{ 'clubster.ui.powered_by'|trans }} <a href="http://sylius.com" target="_blank">Clubster v{{ sylius_meta.version }}</a>
{% endblock %}

{% block javascripts %}
    {% include '@ClubsterAdmin/_javascripts.html.twig' with {'path': 'build/admin.js'} %}

    {{ sonata_block_render_event('clubster.adminlayout.javascripts') }}
{% endblock %}
