<article>
    <a href="{{ path('news-detail', {'url': entry.url}) }}">
        {% if entry.pictureUrl %}
            <img src="{{ entry.pictureUrl }}" alt="{{ entry.title }}" />
        {% else %}

        {% endif %}
    <h1>
        <a href="{{ path('news-detail', {'url': entry.url}) }}">
            {{ entry.title }}
        </a>
    </h1>
    <p>{{ entry.lead }}</p>
</article>
