<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}SC Wohlensee{% endtrans %}{% endblock %}</title>

        <!-- @todo that can't be right, check the correct way -->
        <link rel="icon" href="{{ asset('build/images/favicon.9c4ac701.ico') }}" type="image/ico" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <main class="scw-base-container">
            {% set activeItem = null %}
            <header>
                {% block header %}
                    <div class="scw-logo">
                        <a href="{{ path('index') }}"></a>
                    </div>
                {% endblock %}
            </header>
            <nav>
                {% block navigation %}
                    {{ include('navigation/index.html.twig', { 'entries': navigation.entries }) }}
                {% endblock %}
            </nav>
            <section id="content" class="scw-content-container">
                <div class="grid-x">
                    <div class="small-8 cell">
                        {% block content %}{% endblock %}
                    </div>
                    <aside class="small-4 cell">
                        {% block sidebar %}
                            {% for box in navigation.activeItem.boxes %}
                                <section>
                                    <h1>{{ box.title }}</h1>
                                    <div class="scw-box grid-container fluid">
                                        {{ box.text|raw }}
                                    </div>
                                </section>
                            {% endfor %}
                            {% if navigation.activeItem.files.count() %}
                                <section>
                                    <h1>{% trans %}Files{% endtrans %}</h1>
                                    <div class="scw-box grid-container fluid">
                                        <ul class="scw-files">
                                            {% for file in navigation.activeItem.files %}
                                                <li>
                                                    <i class="scw-file-{{ file.extension }}" href="{{ file.url }}"></i>
                                                    <a target="_blank">{{ file.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
                            {% endif %}
                        {% endblock %}
                    </aside>
                </div>
            </section>

            <footer>
                {% block footer %}
                    footer
                {% endblock %}
            </footer>
        </main>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
